<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GpsYv.ManejadorDeMapa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GpsYv.ManejadorDeMapa.Properties.Settings>
            <setting name="DistanciaMáximaEnDecenasDeMetrosParaBuscarPDIsDuplicados"
                serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DistanciaHammingBuscarPDIsDuplicados" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PosiciónDeLaFormaPrincipal" serializeAs="String">
                <value>-32000, -32000</value>
            </setting>
            <setting name="TamañoDeLaFormaPrincipal" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RequireActualizarOpcionesDelUsuario" serializeAs="String">
                <value>True</value>
            </setting>
        </GpsYv.ManejadorDeMapa.Properties.Settings>
    </userSettings>
</configuration>